Repository udienz/terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: production environment, qa environment, staging environment

production environment:
  dir: production
  apply_requirements:
  - mergeable
  - undiverged

qa environment:
  dir: qa
  apply_requirements:
  - mergeable
  - undiverged

staging environment:
  dir: staging
  apply_requirements:
  - mergeable
  - undiverged

rename the name for url safe
  atlantis.yaml
Due: none

rewrite resource to terraform format
  production/udienz.id-blog.tf
  production/udienz.id-ftp.tf
  production/udienz.id-mail.tf
  production/udienz.id-www.tf
  production/udienz.my.id-blog.tf
  production/udienz.my.id-ftp.tf
  production/udienz.my.id-mail.tf
  production/udienz.my.id-www.tf
  production/udienz.web.id-blog.tf
  production/udienz.web.id-ftp.tf
  production/udienz.web.id-mail.tf
  production/udienz.web.id-www.tf
  qa/udienz.id-blog.tf
  qa/udienz.id-ftp.tf
  qa/udienz.id-mail.tf
  qa/udienz.id-www.tf
  qa/udienz.my.id-blog.tf
  qa/udienz.my.id-ftp.tf
  qa/udienz.my.id-mail.tf
  qa/udienz.my.id-www.tf
  qa/udienz.web.id-blog.tf
  qa/udienz.web.id-ftp.tf
  qa/udienz.web.id-mail.tf
  qa/udienz.web.id-www.tf
  staging/udienz.id-blog.tf
  staging/udienz.id-ftp.tf
  staging/udienz.id-mail.tf
  staging/udienz.id-www.tf
  staging/udienz.my.id-blog.tf
  staging/udienz.my.id-ftp.tf
  staging/udienz.my.id-mail.tf
  staging/udienz.my.id-www.tf
  staging/udienz.web.id-blog.tf
  staging/udienz.web.id-ftp.tf
  staging/udienz.web.id-mail.tf
  staging/udienz.web.id-www.tf
Due: production environment, qa environment, staging environment

Avoid duplicate resource
  production/udienz.id-blog.tf
  production/udienz.id-ftp.tf
  production/udienz.id-mail.tf
  production/udienz.id-www.tf
  production/udienz.my.id-blog.tf
  production/udienz.my.id-ftp.tf
  production/udienz.my.id-mail.tf
  production/udienz.my.id-www.tf
  production/udienz.web.id-blog.tf
  production/udienz.web.id-ftp.tf
  production/udienz.web.id-mail.tf
  production/udienz.web.id-www.tf
  qa/udienz.id-blog.tf
  qa/udienz.id-ftp.tf
  qa/udienz.id-mail.tf
  qa/udienz.id-www.tf
  qa/udienz.my.id-blog.tf
  qa/udienz.my.id-ftp.tf
  qa/udienz.my.id-mail.tf
  qa/udienz.my.id-www.tf
  qa/udienz.web.id-blog.tf
  qa/udienz.web.id-ftp.tf
  qa/udienz.web.id-mail.tf
  qa/udienz.web.id-www.tf
  staging/udienz.id-blog.tf
  staging/udienz.id-ftp.tf
  staging/udienz.id-mail.tf
  staging/udienz.id-www.tf
  staging/udienz.my.id-blog.tf
  staging/udienz.my.id-ftp.tf
  staging/udienz.my.id-mail.tf
  staging/udienz.my.id-www.tf
  staging/udienz.web.id-blog.tf
  staging/udienz.web.id-ftp.tf
  staging/udienz.web.id-mail.tf
  staging/udienz.web.id-www.tf
Due: production environment, qa environment, staging environment

Remove all value in resource
  production/udienz.id-blog.tf
  production/udienz.id-ftp.tf
  production/udienz.id-mail.tf
  production/udienz.id-www.tf
  production/udienz.my.id-blog.tf
  production/udienz.my.id-ftp.tf
  production/udienz.my.id-mail.tf
  production/udienz.my.id-www.tf
  production/udienz.web.id-blog.tf
  production/udienz.web.id-ftp.tf
  production/udienz.web.id-mail.tf
  production/udienz.web.id-www.tf
  qa/udienz.id-blog.tf
  qa/udienz.id-ftp.tf
  qa/udienz.id-mail.tf
  qa/udienz.id-www.tf
  qa/udienz.my.id-blog.tf
  qa/udienz.my.id-ftp.tf
  qa/udienz.my.id-mail.tf
  qa/udienz.my.id-www.tf
  qa/udienz.web.id-blog.tf
  qa/udienz.web.id-ftp.tf
  qa/udienz.web.id-mail.tf
  qa/udienz.web.id-www.tf
  staging/udienz.id-blog.tf
  staging/udienz.id-ftp.tf
  staging/udienz.id-mail.tf
  staging/udienz.id-www.tf
  staging/udienz.my.id-blog.tf
  staging/udienz.my.id-ftp.tf
  staging/udienz.my.id-mail.tf
  staging/udienz.my.id-www.tf
  staging/udienz.web.id-blog.tf
  staging/udienz.web.id-ftp.tf
  staging/udienz.web.id-mail.tf
  staging/udienz.web.id-www.tf
Due: production environment, qa environment, staging environment

Revert "initial record for dns records"
  atlantis.yaml
  production/udienz.id-blog.tf
  production/udienz.id-ftp.tf
  production/udienz.id-mail.tf
  production/udienz.id-www.tf
  production/udienz.my.id-blog.tf
  production/udienz.my.id-ftp.tf
  production/udienz.my.id-mail.tf
  production/udienz.my.id-www.tf
  production/udienz.web.id-blog.tf
  production/udienz.web.id-ftp.tf
  production/udienz.web.id-mail.tf
  production/udienz.web.id-www.tf
  qa/udienz.id-blog.tf
  qa/udienz.id-ftp.tf
  qa/udienz.id-mail.tf
  qa/udienz.id-www.tf
  qa/udienz.my.id-blog.tf
  qa/udienz.my.id-ftp.tf
  qa/udienz.my.id-mail.tf
  qa/udienz.my.id-www.tf
  qa/udienz.web.id-blog.tf
  qa/udienz.web.id-ftp.tf
  qa/udienz.web.id-mail.tf
  qa/udienz.web.id-www.tf
  staging/udienz.id-blog.tf
  staging/udienz.id-ftp.tf
  staging/udienz.id-mail.tf
  staging/udienz.id-www.tf
  staging/udienz.my.id-blog.tf
  staging/udienz.my.id-ftp.tf
  staging/udienz.my.id-mail.tf
  staging/udienz.my.id-www.tf
  staging/udienz.web.id-blog.tf
  staging/udienz.web.id-ftp.tf
  staging/udienz.web.id-mail.tf
  staging/udienz.web.id-www.tf
Due: production environment, qa environment, staging environment

Update udienz.id-www.tf
  production/udienz.id-www.tf
Due: production environment

Update QA udienz.id-www.tf
  qa/udienz.id-www.tf
Due: qa environment

Update staging udienz.id-www.tf
  staging/udienz.id-www.tf
Due: staging environment

Create backend.tf
  backend.tf
Due: none

Add backend in every projects
  production/backend.tf
  qa/backend.tf
  staging/backend.tf
Due: production environment, qa environment, staging environment

Separate tfstate each environment
  production/backend.tf
  qa/backend.tf
  staging/backend.tf
Due: production environment, qa environment, staging environment

Update prod udienz.id-www.tf
  production/udienz.id-www.tf
Due: production environment

Path conditions:
  production environment: any of: production/*.tf
  qa environment: any of: qa/*.tf
  staging environment: any of: staging/*.tf
